@font-face {
    font-family: 'RotondaBold';
    src: url('../fonts/RotondaBold.svg#RotondaBold') format('svg'),
    url('../fonts/RotondaBold.ttf') format('truetype'),
    url('../fonts/RotondaBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #fbf3eb;
    display: flex;
    flex-direction: column;
    /* Цвет фона веб-страницы */
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url("../images/header.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 220px;
    background-position: top;
    /* 1 процент от высоты окна(расстягивает на весь экран при 100vh)
    1vw=1 процент от  ширины окна
        */
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: 75%;
}

sub {
    vertical-align: baseline;
    position: relative;
    bottom: -0.4em;
}

#searchBar {
    margin-top: 15px;
    margin-left: 46px;
    position: relative;
}

#searchBar input {
    float: right;
    width: 300px;
    border: 2px solid #6eb8df;
    padding-left: 10px;
    height: 40px;
    outline: none;
    border-radius: 24px;
    color: #9E9C9C;
    font-style: italic;
}

#searchBar input:focus {
    border: 3px solid #00a9c4;
}

#searchBar input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    margin: 5px;
    border-radius: 50%;
    border-color: rgba(0, 10, 255, 0.47);
}

#searchBar input[type=submit]:hover {
    opacity: 0.8;
    border-color: #1b6d85;
    border-radius: 50%;
}

#headerLeft {
    float: left;
    width: 450px;
    height: 170px;
    display: inline-block;
}

#headerLeft .about {
    float: right;
    background-color: #eff5f8;
    border: none;
    border-radius: 10px;
    width: 29%;
    padding-left: 15px;
    height: 25px;
    margin: 10px;
}

#headerLeft .about .img1 {
    margin-left: -10px;
    margin-top: 2px;
    width: 17px;
    float: left;
}

#headerLeft .about .img2 {
    margin-left: -8px;
    margin-top: 5px;
    width: 21px;
    float: left;
}

#headerLeft .about .o {
    color: #4a8cbf;
    font-size: 13px;
    text-align: center;
    margin: 6px;
    font-family: RotondaBold;
}

#headerLeft .adv {
    float: right;
    font-family: RotondaBold;
    color: #2d5d7e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    height: 50px;
    padding-right: 10%;
}

#headerLeft .adv span {
    font-size: 23px;
    font-family: RotondaBold;
    color: #2d5d7e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #edf2f6;
}

#headerLeft .adv h4 {
    font-size: 18px;
    text-align: center;
    font-family: RotondaBold;
    color: #2d5d7e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #edf2f6;
    margin-top: -3px;
}

#headerRight {
    float: right;
    width: 450px;
    display: inline-block;
    margin-top: 8px;
}

#headerRight img {
    float: left;
    margin: 10px;
}

#headerRight h4 {
    margin-top: 10px;
    margin-right: 15px;
    font-family: RotondaBold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
    float: left;
    color: #2d5d7e;
}

.tel {
    margin-left: -5px;
    color: #4a8cbf;
}

#headerRight .time {
    margin-right: 15px;
    margin-top: 25px;
    padding-top: 6px;
    float: left;
    background-color: #eff5f8;
    border-radius: 10px;
    width: 58%;
    height: 25px;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #2d5d7e;
    margin-left: -28px;
}

#headerRight .time img {

    margin-top: -2px;
}

#headerRight .call {
    float: left;
    background-color: white;
    border-radius: 10px;
    width: 52%;
    height: 25px;
    margin-left: 10px;
    margin-top: 15px;
    font-family: RotondaBold;
    color: #2d5d7e;
    padding-top: 2px;
    padding-left: 15px;
}

#headerRight .call img {
    position: absolute;
    margin-top: -8px;
    margin-left: 18px;
}

.gus {
    margin-top: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

main {
    background-color: #fbf3eb;
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#head {
    position: relative;
    font-weight: bold;
    font-family: RotondaBold;
    font-size: 30px;
    color: #2d5d7e;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 2%;
}

#ordertext {
    position: absolute;
    width: 100%;
}

.style {
    position: relative;
    margin-top: 5%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.text {
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Trebuchet MS";
    font-size: 14px;
}

#userSettings {
    margin-left: 5%;
}

#userSettings input {
    font-family: "Trebuchet MS";
    font-size: 15px;
    position: relative;
    left: 20%;
    width: 350px;
    padding: 10px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding-left: 30px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    margin-top: 2%;
}

#userSettings label {
    font-family: "Trebuchet MS";
    font-size: 15px;
    position: relative;
    left: 29%;
    width: 100px; /* Ширина */
    text-align: right; /* Выравниваем по правому краю */
    float: left; /* Выстраиваем элементы рядом */
    margin-right: 10%; /* Расстояние от текста до текстового поля */
    line-height: 10px; /* Выравниваем по высоте */
    margin-top: 3%;
}

#sub {
    outline: none;
    border: none;
    background-color: #fbdd00;
}

.radio1 {
    position: relative;
    font-weight: bold;
    font-family: "Trebuchet MS";
    display: flex;
    bottom: 18%;
    left: 33%;
    color: #114d7f;
}

.radio2 {
    position: relative;
    font-weight: bold;
    font-family: "Trebuchet MS";
    display: flex;
    color: #114d7f;;
    bottom: 20%;

}

.zakaz {
    position: relative;
}

.product {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#tov {
    font-family: "Trebuchet MS";
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 10px 30px;
    width: 400px;
    position: absolute;
    top: 28%;
    left: 33%;
}

.close {
    position: absolute;
    top: 15%;
    width: 2px;
    height: 2px;
    opacity: 0.3;
    border-radius: 15px;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

#ordimg {
    position: relative;
}

.issue {
    margin-top: 2%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    right: 9%;
}

#action {
    font-weight: bold;
    font-family: RotondaBold;
    font-size: 17px;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 35%;
}

.activate {
    font-family: "Trebuchet MS";
    font-size: 17px;
    width: 500px;
    position: absolute;
    bottom: -45%;
    left: 34%;
}

.footer {
    padding-top: 3px;
    background-color: #afcede;
    position: relative;
    /* Фиксированное положение /
       margin-top: auto; / Левый нижний угол */
    width: 100%;
    height: 150px;

}

#image {
    top: -40px;
    background: url("../images/footer.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 150px;
    left: 0px;
    bottom: 90px;
    position: absolute;
}

#logotype {
    margin-left: 150px;
    margin-top: 50px;
}

.number img {
    float: left;
    margin-left: 400px;
    position: relative;
    bottom: 35px;
}

.number h4 {
    position: relative;
    margin-bottom: 50px;
    margin-top: -40px;
    margin-left: 20px;
    font-family: RotondaBold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
    float: left;
    color: #2d5d7e;
}

.telfoot {
    margin-left: -5px;
    color: #06465f;
}

.social {
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 180px;
    margin-top: -37px;
}

#soc {
    width: 30px;
    cursor: pointer;
    height: 30px;
    display: flex;
    margin: 0 3px;
}

#soc:hover {
    border: 2px;
    border-radius: 15px;
    background-color: #7bc7ef;
    opacity: 0.7;
}

.gooos {
    margin-left: 350px;
    margin-top: -140px;
    position: relative;
    z-index: 1;
}
