@font-face {
    font-family: 'RotondaBold';
    src: url("../fonts/RotondaBold.svg#RotondaBold") format("svg");
    src: url("../fonts/RotondaBold.ttf") format("truetype");
    src: url("../fonts/RotondaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("../images/top_bg.png");
    height: 204px;
    display: block;
    box-sizing: border-box;
}

#searchBar {
    margin-top: 15px;
    margin-left: 46px;
    position: relative;
}

#searchBar input {
    float: right;
    width: 300px;
    border: 2px solid #6eb8df;
    padding-left: 10px;
    height: 40px;
    outline: none;
    border-radius: 24px;
    color: #9E9C9C;
    font-style: italic;
}

#searchBar input:focus {
    border: 3px solid #00a9c4;
}

#searchBar input[type=submit]
{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
    margin: 5px;
    border-radius: 50%;
    border-color: rgba(0, 10, 255, 0.47);
}

#searchBar input[type=submit]:hover{
    opacity: 0.8;
    border-color: #1b6d85;
    border-radius: 50%;
}

#headerLeft{
    float: left;
    width: 450px;
    height: 170px;
    display: inline-block;
}

#headerLeft .about{
    float: right;
    background-color: #eff5f8;
    border: none;
    border-radius: 10px;
    width: 29%;
    padding-left: 15px;
    height: 25px;
    margin: 10px;
}

#headerLeft .about .img1{
    margin-left: -10px;
    margin-top: 2px;
    width: 17px;
    float: left;
}

#headerLeft .about .img2{
    margin-left: -8px;
    margin-top: 5px;
    width: 21px;
    float: left;
}

#headerLeft .about .o{
    color: #4a8cbf;
    font-size: 13px;
    text-align: center;
    margin: 4px;
    font-family: RotondaBold;
}

#headerLeft .adv{
    float: right;
    font-family: RotondaBold;
    color: #2d5d7e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    height: 50px;
    padding-right: 10%;
}

#headerLeft .adv span{
    font-size: 23px;
    font-family: RotondaBold;
    color: #2d5d7e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #edf2f6;
}

#headerLeft .adv h4{
    font-size: 18px;
    text-align: center;
    font-family: RotondaBold;
    color: #2d5d7e;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #edf2f6;
    margin-top: -3px;
}

#headerRight{
    float: right;
    width: 450px;
    display: inline-block;
    margin-top: 8px;
}

#headerRight img{
    float: left;
    margin: 10px;
}

#headerRight h4{
    font-family: RotondaBold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
    float:left;
    color: #2d5d7e;
}

.tel{
    color: #4a8cbf;
}

#headerRight .time{
    float: left;
    background-color: #eff5f8;
    border-radius: 10px;
    width: 60%;
    height: 25px;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #2d5d7e;
    margin-left: 10px;
}

#headerRight .time img{
    margin-top: 4px;
}

#headerRight .call{
    float: left;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 25px;
    margin-left: 10px;
    margin-top: 15px;
    font-family: RotondaBold;
    color: #2d5d7e;
    padding-top: 2px;
    padding-left: 10px;
}

#headerRight .call img{
    position: absolute;
    margin-top: -8px;
}

.flower{
    background-image: url("../images/83.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 64px;
    position: absolute;
    top: 155px;
    z-index: 0;
}

#gus{
    position: relative;
    z-index: 1;
}

#footer{
    position: relative;
    margin-top: auto;
    background: #afcede;
    width: 100%;
    height: 100px;
    padding-left: 15%;
    padding-top: 1.5%;
}

#number{
    font-family: RotondaBold;
    color: #06465f;
    font-size: 20px;
}

#footer .blue{
    color: #2d5d7e;
    font-family: RotondaBold;
    font-size: 20px;
}

#footer .div1{
    float: left;
}

#footer .div2{
    float: left;
    margin-left: 8%;
    height: 10px;
    margin-top: 1%;
}

#footer .div2 img{
    float: left;
    margin-top: 1.2%;
    padding-right: 5px;
}

#social {
    float: left;
    height: 24px;
    margin-left: 5%;
    margin-top: 1%;
}

#goosi {
    float: left;
    margin-top: -130px;
    margin-left: 50px;
    z-index: 1;
    position: relative;
}

#flowerbot{
    background-image: url("../images/flower_bottom.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 64px;
    position: absolute;
    left: 0; bottom: 90px;
    z-index: 0;
}


main{
    background-color: #fbf3eb;
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none;
    line-height: 20px;
}

.categoryList {
    list-style: none;
    height: 110%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: #212529;
    text-align: left;
}
.categoryList > li{
    max-width: 20%;
}
.categoryList li {
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 140%;
}
.categoryItem{
    margin-bottom: 10px;
}
.categoryName > h4{
    margin-left: 10px;
    color: #2d5d7e;
    font-family: RotondaBold;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.1;
}
.categoryName > img{
    height: 60px;
}
.categoryItem a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.categoryItem > p{
    margin-top: 10px;
}

.categoryName{
    display: flex;
    align-items: center;
}

#goods{
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 10%;
    width: 60%;
    z-index: 2;
    height: 1300px;
    float: left;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-uppercase b{
    font-size: 15px;
}

#cloud{
    width: 262px;
    height: 162px;
    background-image: url("../images/cloud.png");
    background-repeat: no-repeat;
    padding: 7%;
    margin-top: 5vh;
}

#cloud > h1 {
    text-align: left;
    font-size: 18px;
    margin-left: 38px;
}

#cloud > h2 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    font-family: RotondaBold;
    margin-left: 40px;
}

#order{
    background-color: #3da0d1;
    color: white;
    border: 2px solid #c5e5f9;
    width: 50%;
    border-radius: 24px;
    text-align: center;
    padding: 1px;
    margin-left: 2vw;
    font-family: RotondaBold;
}

.column {
    background-image: url("../images/block.png");
    background-repeat: no-repeat;
    margin-top: 3vh;
    width: 231px;
    height: 472px;
    padding: 10%;
}

#brand {
    color: #2d5d7e;
    font-family: RotondaBold;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.spisok{
    column-width: 50px;
    column-count: 2;
    font-size: 12px;
    line-height: 0;
    padding-bottom: 10px;
    font-family: RotondaBold;
    text-align: center;
}

#delivery{
    width: 231px;
    height: 118px;
    margin-top: 5vh;
    background-image: url("../images/car.png");
    background-repeat: no-repeat;
    padding: 10%;
}

#delivery > h1 {
    color: #2d5d7e;
    font-family: RotondaBold;
    font-size: 15px;
    text-align: right;
}

#delivery > h6 {
    color: #2d5d7e;
    font-family: RotondaBold;
    font-size: 12px;
    text-align: right;
    margin-top: -5px;
}

#news{
    background-image: url("../images/news.png");
    width: 231px;
    height: 435px;
    padding-left: 25px;
    padding-top: 15px;
    text-align: left;
    margin-top: 20%;
}

#news > h5 {
    color: #2d5d7e;
    font-family: RotondaBold;
    font-size: 20px;
}

.date{
    background-image: url("../images/date.png");
    background-repeat: no-repeat;
    width: 98px;
    height: 28px;
    padding-top: 3px;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.date span{
    color: white;
    font-family: RotondaBold;
    text-align: center;
}

adv{
    width: 100%;
    display: flex;
    flex-direction: row;
}

adv > img{
    margin-left: 15%;
    margin-top: -5vh;
    margin-bottom: 5%;
}

body{
    background-color:#fbf3eb;
}

#slider{
    width: 100%;
    height: 1000px;
    background-color:#fbf3eb;
}

#slider > div{
    position: absolute;
    margin-left: 200px;
    margin-top: 300px;
}

.info_parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.goods_info{
    background-color:#fbf3eb;
    width: 63%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5%;
    margin-right: auto;
    margin-left: auto;
}

.goods_info > h1{
    color: #2d5d7e;
    font-family: RotondaBold;
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
}

.info_image{
    width: 320px;
    height: 293px;
}

.specs{
    margin: 15px;
}

.specs > b{
    font-family: RotondaBold;
}

.specs > img{
    margin-top: 5px;
}

.specs > table {
    cellspacing: 10px;
    margin-top: 20px;
    border-collapse: collapse;
    line-height: 20px;
    font-family: "Trebuchet MS";
}

.specs > table tr, td{
    border-bottom: 1px solid #d9d5d2;
}

.specs div{
    background-color: #08de08;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.description{
    width: 60vw;
    font-family: "Trebuchet MS";
    alignment: center;
}


@media all and (max-width: 1400px){
    #gus{
        display: none;
    }
}

@media all and (max-width: 1200px){
    #goosi{
        display: none;
    }
}


@media all and (max-width: 1365px){
    adv {
        margin-bottom: 5vh;
        margin-top: 5vh;
        background-color: #fbf3eb;
    }
}


@media all and (max-width: 1100px){
    adv {
        margin-bottom: 5vh;
        margin-top: 15vh;
        background-color: #fbf3eb;
    }

    #footer{
        padding-top: 2%;
        padding-left: 10%;
    }
}


